<h1 class="h2 h2_center">Статьи</h1>

<% @articles.each do |article| %>
<div class="b-article">
  <div class="b-article__t"><%= link_to article.name, article %></div>
  <%= link_to article do %>
    <%= image_tag article.image.url(:thumb), class: "b-article__pic" if article.image? %>
  <% end %>
  <div class="b-article__text"><%= article.announce_text.html_safe %></div>

  <%= link_to "Читать полностью", article, class: "b-article__more" %>
</div>
<% end %>