<footer class="b-footer">
    <div class="l-center">
        <div class="b-footer__left">
            <p class="b-footer__company">С∙М∙С <span class="green">Сип∙Монтаж∙Строй</span></p>

            <p class="b-footer__phone">
                <i class="b-icon i-callcenter-green"></i>
                <span class="b-footer__phone__item"><%= phone(settings[:phone1], "green") %></span>
                <i class="b-icon i-callcenter-green"></i>
                <span class="b-footer__phone__item"><%= phone(settings[:phone2], "green") %></span>
            </p>
            <p>Режим работы — пн.–пт.: с 9:00 до 21:00; сб., вс.:
экскурсии на объектах (предварительная запись по телефону)</p>

            <p class="b-footer__copyright">
                © 2014  ООО «СИПМОНТАЖСТРОЙ» <br />
                Дома. Проектирование и строительство СИП домов по всей России.
            </p>

        </div>
        <div class="b-footer__right">
            <%= form_for @feedback do |f| %>
            
            <div id="feedback" class="b-form">
                <% if flash[:feedback_error] %>
                <p class="b-form__error"><%= flash[:feedback_error] %></p>
                <% end %>

                <% if flash[:feedback_success] %>
                <p class="b-form__success green"><%= flash[:feedback_success] %></p>
                <% end %>

                <%= f.fields_for :user_info do |user_info_form| %>
                    <div class="b-input">
                        <%= user_info_form.label :name %>
                        <%= user_info_form.text_field :name %>
                    </div>
                    <div class="b-input">
                        <%= user_info_form.label :phone %>
                        <%= user_info_form.text_field :phone %>
                    </div>
                <% end %>

                <div class="b-input">
                    <%= f.label :message %>
                    <%= f.text_area :message %>
                </div>

                <div class="b-form__actions">
                    <button type="submit" class="b-btn b-btn_medium">отправить заявку</button>
                </div>
            </div>
            <% end %>
        </div>
        <div class="clearer"></div>
    </div>
</footer>
