<header class="b-header">
  <div class="l-center">
    <a href="/" class="b-logo"><i class="b-icon i-logo"></i></a>
    <nav class="b-mainmenu">
      <a class="b-mainmenu__item" href="<%= about_index_path %>">О компании</a>
      <a class="b-mainmenu__item" href="<%= projects_path %>">Проекты</a>
      <a class="b-mainmenu__item" href="<%= panels_path %>">Панели</a>
      <a class="b-mainmenu__item" href="<%= photos_path %>">Фото</a>
      <a class="b-mainmenu__item" href="<%= reviews_path %>">Отзывы</a>
    </nav>

    <div class="b-header__contacts">
      <i class="b-icon i-callcenter"></i>
      <span class="b-phones">
        <span class="phone"><%= phone(settings[:phone1]) %></span><br />
        <span class="phone"><%= phone(settings[:phone2]) %></span>
      </span>

      <a href="#" class="b-btn b-btn_orange js-feedbackPopup">написать нам</a>
    </div>
  </div>
</header>
