<header class="b-header">
  <div class="l-center">
    <a href="/" class="b-logo"><i class="b-icon i-logo"></i></a>
    <ul class="b-mainmenu">
      <li class="b-mainmenu__item">
        <span>Компания</span>
        <ul>
          <li><%= link_to "О нас", about_company_index_path %></li>
          <li><%= link_to "Сертификаты", certificates_company_index_path %></li>
          <li><%= link_to "Партнеры", partners_company_index_path %></li>
          <li><%= link_to "Проектирование", projection_company_index_path %></li>
          <li><%= link_to "Домокомплекты", domokomplekty_company_index_path %></li>
          <li><%= link_to "Строительство", building_company_index_path %></li>
        </ul>
      </li>
      <li class="b-mainmenu__item">
        <span>Проекты</span>
        <ul>
          <li><%= link_to t("projects.index.typical"), projects_path(section: :typical) %></li>
          <li><%= link_to t("projects.index.individual"), projects_path(section: :individual) %></li>
        </ul>
      </li>
      <li class="b-mainmenu__item"><a href="<%= panels_path %>">Панели</a></li>
      <li class="b-mainmenu__item"><a href="<%= photos_path %>">Фото</a></li>
      <li class="b-mainmenu__item"><a href="<%= reviews_path %>">Отзывы</a></li>
    </ul>

    <div class="b-header__contacts" style="padding-top: 23px;">
      <!-- <i class="b-icon i-callcenter"></i> -->
      <span class="b-phones ta-right">
        <span class="location">(Москва)</span><span class="phone"><%= phone(settings[:phone1]) %></span> <span class="phone"><%= phone(settings[:phone2]) %></span><br />
        <span class="location">&nbsp;&nbsp;&nbsp;(Санкт-Петербург)</span><span class="phone"><%= phone(settings[:phone3]) %></span>
        <% if settings[:phone4] != "" %>
        <span class="phone"><%= phone(settings[:phone4]) %></span>
        <% end %>
      </span>

      <a href="#" class="b-btn b-btn_orange js-feedbackPopup">написать нам</a>
    </div>
  </div>
</header>
