<header class="b-header">
  <div class="l-center">
    <a href="/" class="b-logo"><i class="b-icon i-logo"></i></a>
    <ul class="b-mainmenu">
      <li class="b-mainmenu__item">
        <span>Компания</span>
        <ul>
          <li><%= link_to "О нас", about_company_index_path %></li>
          <li><%= link_to "Проектирование", projection_company_index_path %></li>
          <li><%= link_to "Строительство", '/#building' %></li>
          <li><%= link_to "Домокомплекты", domokomplekty_company_index_path %></li>
          <li><%= link_to "Сертификаты", certificates_company_index_path %></li>
          <li><%= link_to "Партнеры", partners_company_index_path %></li>
          <li><%= link_to "Отзывы", reviews_path %></li>
          <li><%= link_to "Акции", '/#specials' %></li>
        </ul>
      </li>
      <li class="b-mainmenu__item"><%= link_to 'Проекты', projects_path %></li>
      <li class="b-mainmenu__item"><%= link_to "Панели", panels_path %></li>
      <li class="b-mainmenu__item"><%= link_to "Фото", photos_path %></li>
      <li class="b-mainmenu__item"><%= link_to "Контакты", contacts_company_index_path %></li>
    </ul>

    <div class="b-header__contacts" style="padding-top: 13px;">
      <!-- <i class="b-icon i-callcenter"></i> -->
      <span class="b-phones ta-right">
        <% @agencies.each do |o| %>
        <span class="location"><%= o.city? ? "(#{o.city})" : "" %></span><span class="phone"><%= phone(o.phone1) %></span>
        <% if !o.phone2.empty? %>
          <span class="phone"><%= phone(o.phone2) %></span>
        <% end %>
        <br />
        <% end %>
      </span>

      <a href="#" class="b-btn b-btn_orange js-feedbackPopup">написать нам</a>
    </div>
  </div>
</header>
