        <div class="b-promo">
            <div class="b-promo__l">
                <p class="b-promo__t"><%= c('index.title') %></p>
                <a class="b-btn b-btn_big b-btn_orange" href="#">отправить заявку</a>
            </div>
        </div>

        <div class="b-projects-gallery">
            <h2 class="h2 light h2_center">Типовые проекты</h2>

            <div class="l-center b-carousel">
                <div class="b-carousel__arr b-carousel__arr_left"><i class="b-icon i-larr-white"></i></div>
                <div class="b-carousel__arr b-carousel__arr_right"><i class="b-icon i-rarr-white"></i></div>
                <div class="b-carousel__overflow">
                    <div class="b-carousel__slider">
                        <%= render partial: "shared/project_thumb", collection: @projects, as: :project %>
                    </div>
                </div>
            </div>
        </div>

        <div class="b-sip-tech">
            <div class="b-sip-tech__h">Почему  SIP технология?</div>

            <div class="l-center b-carousel">
                <div class="b-carousel__arr b-carousel__arr_left"><i class="b-icon i-larr-white"></i></div>
                <div class="b-carousel__arr b-carousel__arr_right"><i class="b-icon i-rarr-white"></i></div>

                <div class="b-carousel__overflow">
                    <div class="b-carousel__slider">
                        <div class="b-sip-tech__slide">
                            <h2 class="h2 h2_center"><%= c('index.features.fast.title') %></h2>

                            <img class="b-sip-tech__slide__pic" src="<%= asset_path('sip/quick.jpg') %>" alt="" />
                            <div class="b-sip-tech__slide__right">
                                <%= c('index.features.fast.text', :text) %>
                            </div>
                        </div>
                        <div class="b-sip-tech__slide">
                            <h2 class="h2 h2_center"><%= c('index.features.eco.title') %></h2>

                            <img class="b-sip-tech__slide__pic" src="<%= asset_path('sip/eco.jpg') %>" alt="" />
                            <div class="b-sip-tech__slide__right">
                                <%= c('index.features.eco.text', :text) %>
                            </div>
                        </div>
                        <div class="b-sip-tech__slide">
                            <h2 class="h2 h2_center"><%= c('index.features.tech.title') %></h2>

                            <img class="b-sip-tech__slide__pic" src="<%= asset_path('sip/techno.jpg') %>" alt="" />
                            <div class="b-sip-tech__slide__right">
                                <%= c('index.features.tech.text', :text) %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="b-sip-tech__tabs" rel="tabs">
                    <a href="#"><%= c('index.features.fast.title') %></a>
                    <a href="#"><%= c('index.features.eco.title') %></a>
                    <a href="#"><%= c('index.features.tech.title') %></a>
                </div>
            </div>

            <ul class="b-sip-tech__features">
                <li class="b-sip-tech__features__item">
                    <span class="pic"><i class="b-icon i-termo-protect"></i></span>
                    термоизоляция
                </li>
                <li class="b-sip-tech__features__item">
                    <span class="pic"><i class="b-icon i-water-protect"></i></span>
                    влагоустойчивость
                </li>
                <li class="b-sip-tech__features__item">
                    <span class="pic"><i class="b-icon i-fire-protect"></i></span>
                    огнестойкость
                </li>
                <li class="b-sip-tech__features__item">
                    <span class="pic"><i class="b-icon i-long-life"></i></span>
                    долговечность
                </li>
            </ul>
        </div>

        <div class="b-personal-project">
            <div class="l-center">
                <p class="b-personal-project__watermark">
                    сипмонтажстрой
                    <i class="b-icon i-company"></i>
                </p>

                <p class="b-personal-project__t"><%= c('index.individual.title') %></p>
                <p class="b-personal-project__text">
                    <%= c('index.individual.text', :text) %>
                </p>
                <a href="#" class="b-btn b-btn_big">Отправить заявку</a>
            </div>
        </div>

        <!-- <div class="b-volumes">
            <div class="l-center">
                <h2 class="h2">Почему СипМонтажСтрой?</h2>

                <dl class="b-volumes__item">
                    <dt>8</dt>
                    <dd>лет на рынке</dd>
                </dl>
                <dl class="b-volumes__item">
                    <dt>1 000</dt>
                    <dd>и более <br> довольных клиентов</dd>
                </dl>
                <dl class="b-volumes__item">
                    <dt>6 000</dt>
                    <dd>SIP-панелей в месяц производит наш завод</dd>
                </dl>
                <dl class="b-volumes__item">
                    <dt>2 000</dt>
                    <dd>м<sup>2</sup><br /> площадь завода</dd>
                </dl>

                <div class="b-volumes__text">
                    Коллектив производственно-строительной компании «СипМонтажСтрой» не новичок на рынке строительства качественного жилья! Более 8 лет мы успешно производим и продаём СИП-панели по всей России и уже более 6 лет активно занимаемся застройкой по каркасно-панельной технологии (SIP) в Москве, а также в Московской и прилегающих областях.
                </div>
            </div>
        </div> -->

        

        <div class="b-reviews">
            <div class="l-center">
                <h2 class="h2 h2_center">Отзывы</h2>

                <div class="b-carousel">
                    <div class="b-carousel__overflow">
                        <div class="b-carousel__slider">
                            <div class="b-reviews__thumb">
                                <img src="<%= asset_path('tmp/reviews/thumbs/1.jpg') %>" alt="" class="b-reviews__thumb__pic" />

                                <p class="b-reviews__thubm__text">
                                    Очень хочется поделиться впечатлениями о работе. Это просто здорово. Мы живем далеко от города Пестово, поэтому было нелегко решиться на заказ, но результат превзошел наши ожидания,
                                </p>

                                <div class="b-reviews__thumb__author">
                                    <img src="<%= asset_path('tmp/clients/1.jpg') %>" alt="" class="pic" />
                                    <p class="name">Антон</p>
                                    <p class="city">г. Челябинск</p>
                                </div>
                            </div>
                            <div class="b-reviews__thumb">
                                <img src="<%= asset_path('tmp/reviews/thumbs/2.jpg') %>" alt="" class="b-reviews__thumb__pic" />

                                <p class="b-reviews__thubm__text">
                                    Это просто здорово. Мы живем далеко от города Пестово, поэтому было нелегко решиться на заказ, но результат превзошел наши ожидания,
 Наблюдать за их работой было одно удовольствие: быстро, слажено, красиво. Большое спасибо им.
                                </p>

                                <div class="b-reviews__thumb__author">
                                    <img src="<%= asset_path('tmp/clients/2.jpg') %>" alt="" class="pic" />
                                    <p class="name">Антон</p>
                                    <p class="city">г. Челябинск</p>
                                </div>
                            </div>
                            <div class="b-reviews__thumb">
                                <img src="<%= asset_path('tmp/reviews/thumbs/3.jpg') %>" alt="" class="b-reviews__thumb__pic" />

                                <p class="b-reviews__thubm__text">
                                    Очень хочется поделиться впечатлениями о работе Домостроя Это просто здорово. Мы живем далеко от города Пестово, поэтому было нелегко решиться на заказ, но результат превзошел наши ожидания,
за месяц на нашем пустом участке ребята вдвоем построили два замечательных дома.
                                </p>

                                <div class="b-reviews__thumb__author">
                                    <img src="<%= asset_path('tmp/clients/3.jpg') %>" alt="" class="pic" />
                                    <p class="name">Антон</p>
                                    <p class="city">г. Челябинск</p>
                                </div>
                            </div>
                            <div class="b-reviews__thumb">
                                <img src="<%= asset_path('tmp/reviews/thumbs/1.jpg') %>" alt="" class="b-reviews__thumb__pic" />

                                <p class="b-reviews__thubm__text">
                                    Очень хочется поделиться впечатлениями о работе. Это просто здорово. Мы живем далеко от города Пестово, поэтому было нелегко решиться на заказ, но результат превзошел наши ожидания,
                                </p>

                                <div class="b-reviews__thumb__author">
                                    <img src="<%= asset_path('tmp/clients/1.jpg') %>" alt="" class="pic" />
                                    <p class="name">Антон</p>
                                    <p class="city">г. Челябинск</p>
                                </div>
                            </div>
                            <div class="b-reviews__thumb">
                                <img src="<%= asset_path('tmp/reviews/thumbs/1.jpg') %>" alt="" class="b-reviews__thumb__pic" />

                                <p class="b-reviews__thubm__text">
                                    Очень хочется поделиться впечатлениями о работе. Это просто здорово. Мы живем далеко от города Пестово, поэтому было нелегко решиться на заказ, но результат превзошел наши ожидания,
                                </p>

                                <div class="b-reviews__thumb__author">
                                    <img src="<%= asset_path('tmp/clients/1.jpg') %>" alt="" class="pic" />
                                    <p class="name">Антон</p>
                                    <p class="city">г. Челябинск</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="b-carousel__paginator"></div>
                </div>
            </div>
        </div>

        <div class="b-buy-panels">
            <div class="l-center">
                <p class="b-buy-panels__watermark">
                    сипмонтажстрой
                    <i class="b-icon i-panels"></i>
                </p>

                <p class="b-buy-panels__text">
                    <%= c('index.panels.text') %>
                </p>
                <a href="#" class="b-btn b-btn_big b-btn_gray">Скачать прайс лист</a>
                <a href="#" class="b-btn b-btn_big b-btn_orange">Каталог SIP панелей</a>
            </div>
        </div>

        <div class="b-actions">
            <div class="l-center b-carousel">
                <h2 class="h2 h2_center">Наши акции</h2>

                <div class="b-carousel__overflow">
                    <div class="b-carousel__arr b-carousel__arr_left"><i class="b-icon i-larr-white"></i></div>
                    <div class="b-carousel__arr b-carousel__arr_right"><i class="b-icon i-rarr-white"></i></div>

                    <div class="b-carousel__slider">
                        <div class="b-actions__thumb">
                            <img src="<%= asset_path('tmp/actions/1.jpg') %>" class="b-actions__thumb__pic" height="120" width="175" alt="">
                            <div class="b-actions__thumb__text">
                                <p class="t">Акция «Зима-Лето 2015»</p>

                                Компания ЕвроСИП, замораживает цены до конца лета 2015 года , при оплате 60% домокомплекта до 31 декабря 2014 года, Вы можете назначить любую дату начала строительства до августа 2015 года, сохранив сегодняшнюю цену на домокомплект.
                            </div>
                        </div>
                        <div class="b-actions__thumb">
                            <img src="<%= asset_path('tmp/actions/2.jpg') %>" class="b-actions__thumb__pic" height="120" width="175" alt="">
                            <div class="b-actions__thumb__text">
                                <p class="t">Дом за полцены!</p>

                                Компания ЕвроСИП, замораживает цены до конца лета 2015 года , при оплате 60% домокомплекта до 31 декабря 2014 года, Вы можете назначить любую дату начала строительства до августа 2015 года, сохранив сегодняшнюю цену на домокомплект.
                            </div>
                        </div>
                        <div class="b-actions__thumb">
                            <img src="<%= asset_path('tmp/actions/1.jpg') %>" class="b-actions__thumb__pic" height="120" width="175" alt="">
                            <div class="b-actions__thumb__text">
                                <p class="t">Акция «Зима-Лето 2015»</p>

                                Компания ЕвроСИП, замораживает цены до конца лета 2015 года , при оплате 60% домокомплекта до 31 декабря 2014 года, Вы можете назначить любую дату начала строительства до августа 2015 года, сохранив сегодняшнюю цену на домокомплект.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="b-carousel__paginator b-carousel__paginator_white"></div>
            </div>
        </div>

        <div class="b-any-questions">
            <div class="l-center">
                <p class="b-any-questions__watermark">
                    сипмонтажстрой
                    <span class="b-icon b-any-questions__pic">?</span>
                </p>

                <p class="b-any-questions__text">
                    <%= c('index.questions.text') %>
                </p>

                <span class="b-phone">
                    <i class="b-icon i-callcenter"></i>
                    <span class="b-phone__number"><%= phone(settings[:phone], "orange") %></span>
                </span>
                <a href="#" class="b-btn b-btn_big b-btn_orange">&nbsp;&nbsp; Напишите нам &nbsp;&nbsp;</a>
            </div>
        </div>

        <div class="b-photogallery">
            <div class="l-center">
                <h2 class="h2 h2_center">Фотогалерея</h2>

                <div class="b-carousel" scroll-thumbs="3">
                    <div class="b-carousel__overflow">
                        <!-- <div class="b-carousel__arr b-carousel__arr_left"><i class="b-icon i-larr-white"></i></div>
                        <div class="b-carousel__arr b-carousel__arr_right"><i class="b-icon i-rarr-white"></i></div> -->

                        <div class="b-carousel__slider">
                            <a href="<%= asset_path('tmp/photogallery/thumbs/0.jpg') %>" class="b-photogallery__item js-fancybox" rel="photogallery-1"><img src="<%= asset_path('tmp/photogallery/thumbs/0.jpg') %>" alt="" class="pic" /></a>
                            <a href="<%= asset_path('tmp/photogallery/thumbs/1.jpg') %>" class="b-photogallery__item js-fancybox" rel="photogallery-1"><img src="<%= asset_path('tmp/photogallery/thumbs/1.jpg') %>" alt="" class="pic" /></a>
                            <a href="<%= asset_path('tmp/photogallery/thumbs/2.jpg') %>" class="b-photogallery__item js-fancybox" rel="photogallery-1"><img src="<%= asset_path('tmp/photogallery/thumbs/2.jpg') %>" alt="" class="pic" /></a>
                            <a href="<%= asset_path('tmp/photogallery/thumbs/3.jpg') %>" class="b-photogallery__item js-fancybox" rel="photogallery-1"><img src="<%= asset_path('tmp/photogallery/thumbs/3.jpg') %>" alt="" class="pic" /></a>
                            <a href="<%= asset_path('tmp/photogallery/thumbs/4.jpg') %>" class="b-photogallery__item js-fancybox" rel="photogallery-1"><img src="<%= asset_path('tmp/photogallery/thumbs/4.jpg') %>" alt="" class="pic" /></a>
                            <a href="<%= asset_path('tmp/photogallery/thumbs/0.jpg') %>" class="b-photogallery__item js-fancybox" rel="photogallery-1"><img src="<%= asset_path('tmp/photogallery/thumbs/0.jpg') %>" alt="" class="pic" /></a>
                            <a href="<%= asset_path('tmp/photogallery/thumbs/1.jpg') %>" class="b-photogallery__item js-fancybox" rel="photogallery-1"><img src="<%= asset_path('tmp/photogallery/thumbs/1.jpg') %>" alt="" class="pic" /></a>
                            <a href="<%= asset_path('tmp/photogallery/thumbs/2.jpg') %>" class="b-photogallery__item js-fancybox" rel="photogallery-1"><img src="<%= asset_path('tmp/photogallery/thumbs/2.jpg') %>" alt="" class="pic" /></a>
                            <a href="<%= asset_path('tmp/photogallery/thumbs/3.jpg') %>" class="b-photogallery__item js-fancybox" rel="photogallery-1"><img src="<%= asset_path('tmp/photogallery/thumbs/3.jpg') %>" alt="" class="pic" /></a>
                            <a href="<%= asset_path('tmp/photogallery/thumbs/4.jpg') %>" class="b-photogallery__item js-fancybox" rel="photogallery-1"><img src="<%= asset_path('tmp/photogallery/thumbs/4.jpg') %>" alt="" class="pic" /></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>