<h1 class="h2 h2_center">О компании</h1>

<div class="b-volumes">
  <div class="l-center">
    <!-- <dl class="b-volumes__item">
      <dt>5</dt>
      <dd>лет на рынке</dd>
    </dl>
    <dl class="b-volumes__item">
      <dt>50</dt>
      <dd>построенных объектов в 2014 году</dd>
    </dl>
    <dl class="b-volumes__item">
      <dt>100</dt>
      <dd>и более <br> довольных клиентов</dd>
    </dl>
    <dl class="b-volumes__item">
      <dt>2 000</dt>
      <dd>SIP-панелей произведено нашим заводом</dd>
    </dl> -->

    <div class="b-volumes__text b-text">
      <%= c('about.company.text', :text) %>
    </div>
  </div>
</div>

<br /><br /><br />

<% unless @certificates.empty? %>
<div class="b-certificates">
  <h2 class="h2 h2_center">Наши сертификаты</h2>

  <div class="b-carousel" scroll-thumbs="4">

    <div class="b-carousel__l">
      <div class="b-carousel__arr b-carousel__arr_left"><i class="b-icon i-larr-white"></i></div>
      <div class="b-carousel__arr b-carousel__arr_right"><i class="b-icon i-rarr-white"></i></div>

      <div class="b-carousel__overflow">
        <div class="b-carousel__slider b-carousel__slider_center">
          <%= render(partial: "shared/certificate", collection: @certificates, as: :certificate) %>
        </div>
      </div>
    </div>

    <div class="b-carousel__paginator"></div>
  </div>
</div>

<br /><br /><br />
<% end %>

<h2 class="h2 h2_center">Партнеры</h2>
<ul class="b-companies">
  <li>
    <%= image_tag asset_path "partners/okna_rosta.png", class: "pic" %>
    <p>Окна роста</p>
  </li>
  <li>
    <%= image_tag asset_path "partners/glunz.png", class: "pic" %>
    <p>Glunz</p>
  </li>
  <li>
    <%= image_tag asset_path "partners/knauf.png", class: "pic" %>
    <p>Knauf</p>
  </li>
</ul>
<br><br>
